
    form fieldset {
    margin : 2rem 0;
    border : #070708 solid 1px;
    border-radius : 10px;
    padding : 0.5em 2%;
    }
    form legend {
    color : #000000;
    margin : 0 1rem;
    padding : 0.5rem;
    }
    form label.top, form div {
    display : block;
    padding-top : 1rem;
    color : #0a0a0a;
    font-size: larger;
    font-family:  'Trebuchet MS'; 
}
    form label.top input, form label.top select {
    display : block;
    font-size : 1rem;
    border : #f6ffff solid 1px;
    border-radius : 4px;
    padding : 0.75rem;
    color : #ecfaf7;
    max-width : 20rem;
    background-color : rgba(0, 0, 0, 0.1);
    }
    form label.sbs {
    display : block;
    padding : 0.75rem 0;
    color : #e7f0ee;
    }
    /* form input.submitBtn {
    border : none;
    background-color : #9c2c13;
    color : rgb(195, 9, 9);
    border-radius : 1rem;
    padding : 0.75rem 1.5rem;
    margin : 0 0 2rem 2%;
    width : 96%;
    max-width : 20rem;
    text-align: center;
    } */

    .button {
        background-color: #36454f;
        color: white;
        padding: 1rem;
        border: none;
        border-radius: 1rem;
        text-align: center;
        margin: 1rem;
        font-size: 1.2rem;
    } 
     textarea, .text input, label.text {
        padding: 5px;
        width: 95%;
        padding: 5px;
        width: 95%;
        display: block;
        padding-top: 10px;
    }
  
    fieldset {
        padding: 10px;
        margin: 10px;
        border: 1px solid white;
    }
    
    

    /* 
    
    fieldset {
        padding: 10px;
        margin: 10px;
        border: 1px solid white;
    }
    
    fieldset legend {
        font-size: 1.3rem;
        font-family: 'Bebas Neue', serif;
    }
    
    fieldset label {
        font-weight: 600;
    }
    
   
  
   
  
    
    .thanks {
        text-align: center;
        background-color: rgba(180, 154, 92, 0.753);
        grid-column: 2/4;
        font-size: 1.2rem;
    } 


    