<link rel="stylesheet" 
href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">

.parent-selector {
    display: flex;
    justify-content: center;
    align-items: center;
   }